<header class="search-sort">
<h1>My Shopping Cart</h1>
<h1 class="total">Order Total: {{view.orderTotal | decimal | currency  }}</h1>
</header>
<section class="main-table">
  <table class="tea-table">
    <th>Product</th>
    <th>Quantity</th>
    <th>Sub-total</th>
    <th></th>
    <tr ng-repeat="tea in view.cart">
      <td>
        <h2>{{tea.name}}</h2>
        <img ng-src={{tea.imageUrl}} alt="awesome tea" />
        <p>Caffeine Scale: {{tea.caffeineScale}}</p>
        <p>Ingredients: {{tea.ingredients}}</p>
        <p>Rating: {{tea.rating}}</p>
      </td>
      <td>{{tea.quantity}}</td>
      <td>{{tea.quantity * tea.price | decimal | currency}}</td>
      <td>
        <button class="btn btn-warning edit" type="button" name="button" ng-click="view.logs()">Edit</button>
        <button class="btn btn-danger edit" type="button" name="button" ng-click="view.remove(tea._id)">Remove</button>
      </td>
    </tr>
  </table>

</section>
