<header class="search-sort">
<h1>My Shopping Cart</h1>
<h1 class="total">Order Total: {{view.orderTotal | decimal | currency  }}</h1>

</header>
<section class="main-table">
  <table class="tea-table">
    <th>Product</th>
    <th>Quantity</th>
    <th>Sub-total</th>
    <th></th>
    <tr ng-repeat="tea in view.cart">
      <td>
        <h2>{{tea.name}}</h2>
        <img ng-src={{tea.imageUrl}} alt="awesome tea" />
        <p>Caffeine Scale: {{tea.caffeineScale}}</p>
        <p>Ingredients: {{tea.ingredients}}</p>
        <p>Rating: {{tea.rating}}</p>
      </td>

      <td ng-hide="view.showUpdate"> {{tea.quantity}}
      </td>
        <td class="update" ng-show="view.showUpdate"><span class="left">Quantity: </span>
          <select class="down" ng-model="tea.quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </td>
      <td>{{tea.quantity * tea.price | decimal | currency}}</td>
      <td>
        <button ng-hide="view.showUpdate" class="btn btn-warning edit" type="button" name="button" ng-click="view.updateShow()">Edit</button>
        <button ng-show="view.showUpdate" class="btn btn-warning edit" type="button" name="button" ng-click="view.update(tea)">Update</button>
        <button class="btn btn-danger edit" type="button" name="button" ng-click="view.remove(tea)">Remove</button>
      </td>
    </tr>
  </table>

</section>
